@model trabalhoLPCTentativaNumero2.Models.Cliente

<div class="form-horizontal">
    <form action="Edit" method="Post">  
        <a href="/Cliente/Index" class="btn btn-primary">Voltar</a>

        <input hidden type="text" name="id" id="id" value="@Model.id"/>

        <div class="form-group">
            <label>Nome</label>
            <input  
                class="form-control"
                type="text" 
                name="nome"
                value="@Model.nome"
            />
        </div>
        
        <div class="form-group">
            <label>Email</label>
            <input  
                class="form-control"
                type="text" 
                name="email"
                value="@Model.email"
            />
        </div>
        
        <div class="form-group">
            <label>Telefone</label>
            <input  
                class="form-control"
                type="text" 
                name="telefone"
                value="@Model.telefone"
            />
        </div>

        <input  
            class="btn btn-primary" 
            type="submit" 
            value="Salvar"
        />

    </form>
</div>